body {
    display: none;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.OurDiv {
    position: fixed;
    /* This sets the div to a fixed place*/
    top: 50%;
    /*Sets how much it should be down from the top of the screen*/
    left: 50%;
    /*Sets how much it should be left from the screen.*/
    width: 20%;
    /*Sets the width of the div*/
    height: 20%;
    /*Sets the height of the div*/
    background-color: rgb(168, 66, 66);
    /*Now this one should be obvious.*/
    vertical-align: middle;
    /*Aligns the text within div to middle*/
    text-align: center;
    /*Sets the div text to the center*/
}

.OurDivText {
    font-size: 3vw;
    color: black;
    /*Font size in view points :)*/
}
